<% flash.each do |flash_type, message| %>
  <div 
    class="flash__message bg-dark text-white p-3 rounded my-2 position-fixed bottom-0 right-0 z-3"
    data-controller="removals"
    data-action="animationend->removals#remove">
    <p class="fw-normal text-nowrap"><span class="rounded-pill p-1 px-2 bg-success text-white"><i class="fa-solid fa-check fa-sm"></i></span>&ensp;<%= message %></p>
  </div>
<% end %>
